@using Pandacap.JsonLd
@model RemoteAddressee

@{
    var actor = Model is RemoteAddressee.Actor a
        ? a.Item
        : null;
}

@if (actor?.IconUrl != null)
{
    <img height="25" src="@actor.IconUrl" alt="" />
}
<span style="display: inline-block; vertical-align: top">
    <strong>
        <a href="@Model.Id" target="_blank">@Model.Id</a>
        (@Model.Type)
    </strong>
</span>