@model ListViewModel

<p>
    @if (Model.RSS)
    {
        <img src="~/images/feed-icon.svg" width="16" height="16" alt="" />
        <a href="@Context.Request.Path?format=atom" target="_blank">Atom</a>
        @:&nbsp;
    }

    @if (Model.Atom)
    {
        <img src="~/images/feed-icon.svg" width="16" height="16" alt="" />
        <a href="@Context.Request.Path?format=rss" target="_blank">RSS</a>
        @:&nbsp;
    }

    @if (Model.Twtxt)
    {
        <img src="~/images/twtxt-logo.svg" width="16" height="16" alt="" />
        <a href="@Context.Request.Path?format=twtxt" target="_blank">Twtxt</a>
        @:&nbsp;
    }
</p>
