@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="createDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Create new post
            </a>
            <ul class="dropdown-menu" aria-labelledby="createDropdown">
                <li><a class="dropdown-item" asp-area="" asp-controller="UserPosts" asp-action="CreateArtwork">Artwork</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="UserPosts" asp-action="CreateJournalEntry">Journal entry</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="UserPosts" asp-action="CreateStatusUpdate">Status update</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Profile", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
