@using Pandacap.ConfigurationObjects
@using Pandacap.HighLevel.PlatformLinks
@inject ApplicationInformation appInfo

<p>
    <img width="50" height="50" src="/Blobs/Avatar" alt="" />
    <span style="display: inline-block; vertical-align: top">
        <strong>@appInfo.Username</strong>

        <br />

        <span class="small text-muted" style="user-select: all">@appInfo.ActivityPubWebFingerHandle</span>
    </span>
</p>