@using Pandacap.ActivityPub.Static
@using Pandacap.Configuration

<p>
    <img width="50" height="50" src="/Blobs/Avatar" alt="" />
    <span style="display: inline-block; vertical-align: top">
        <span class="visually-hidden">
            Handle:
        </span>

        <strong>@DeploymentInformation.Username</strong>

        <br />

        <span class="visually-hidden">
            ActivityPub / WebFinger handle:
        </span>

        <span class="small text-muted" style="user-select: all">@@@ActivityPubHostInformation.Username@@@ActivityPubHostInformation.ApplicationHostname</span>
    </span>
</p>