@using Pandacap.Data
@using Pandacap.LowLevel
@inject ApplicationInformation appInfo
@inject IdMapper mapper
@model Post

<div class="card p-2 mb-3">
    <p>
        <img width="50" height="50" src="/Blobs/Avatar" alt="" />
        <span style="display: inline-block; vertical-align: top">
            <strong>
                @appInfo.Username
            </strong>
            <br />
            <span class="small text-muted">
                @@@(appInfo.Username)@@@(appInfo.HandleHostname)
            </span>
        </span>
    </p>
    <div class="post-body">
        @Html.Raw(Model.Html)
    </div>
    <div class="small">
        <a href="/UserPosts/@Model.Id">
            @Model.PublishedTime.UtcDateTime.ToLongDateString()
        </a>
    </div>
</div>
