<h1>Post to Community</h1>

<form method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="community" class="form-label">Community</label>
        <input name="community" id="community" type="url" class="form-control" />
    </div>

    <div class="form-group">
        <label for="title" class="form-label">Title (optional)</label>
        <input name="title" id="title" class="form-control" />
    </div>

    <div class="form-group">
        <label for="content" class="form-label">Content (plain text)</label>
        <textarea name="content" id="content" class="form-control" rows="3"></textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-outline-primary">Reply</button>
    </div>
</form>
