@model Pandacap.HighLevel.BlueskyProfileResolver.ProfileInformation

<a href="@Model.BlueskyUri" target="_blank" style="text-decoration: none">
    <img alt=""
         src="https://web-cdn.bsky.app/static/favicon-16x16.png"
         width="16"
         height="16" />
    <span class="visually-hidden">View on Bluesky</span>
</a>

<tt style="user-select: all">@@@Model.Handle</tt>

@foreach (var ap in Model.BridgyFed)
{
    <br />

    <a href="@ap.Id" target="_blank" style="text-decoration: none">
        <img alt=""
             src="/images/Fediverse_logo.svg"
             width="16"
             height="16" />
        <span class="visually-hidden">ActivityPub actor ID</span>
    </a>

    <tt style="user-select: all">@ap.Handle</tt>
}
