@using Pandacap.Data
@using Pandacap.LowLevel
@using Pandacap.HighLevel
@using Pandacap.Models
@model FollowerViewModel
@inject ApplicationInformation appInfo

@{
    ViewBag.Title = "Followers";
}

@if (!Model.Items.Any())
{
    <p>
        There are no ActivityPub actors who follow this user.
    </p>
}
else
{
    @foreach (var item in Model.Items)
    {
        Uri uri = new(item.ActorId);

        <div class="mb-3">
            <div>
                <img height="50" src="@(item.IconUrl ?? "/images/trgray.svg")" alt="" />
                <span style="display: inline-block; vertical-align: top">
                    <strong>
                        @(item.PreferredUsername ?? item.ActorId)
                    </strong>
                    <br />
                    <a href="@item.ActorId">@item.ActorId</a>
                    @if (Bridge.All.SelectMany(b => b.Domains).Contains(uri.Host))
                    {
                        <br />
                        <span class="small text-muted">
                            This account will only receive messages if you follow it back.
                        </span>
                    }
                </span>
            </div>
        </div>
    }
}
