@using Pandacap.Data
@using Pandacap.LowLevel
@using Pandacap.HighLevel
@using Pandacap.Models
@model IEnumerable<Follow>

@{
    ViewBag.Title = "Following";
}

@if (!Model.Any())
{
    <p>
        This user does not follow any ActivityPub actors.
    </p>
}
else
{
    @foreach (var item in Model)
    {
        <div class="mb-3">
            <div>
                <img height="50" src="@(item.IconUrl ?? "/images/trgray.svg")" alt="" />
                <span style="display: inline-block; vertical-align: top">
                    <strong>
                        @(item.PreferredUsername ?? item.ActorId)
                    </strong>
                    <br />
                    <a href="@item.ActorId">@item.ActorId</a>
                    @if (!item.Accepted)
                    {
                        @:(pending)
                    }
                </span>
            </div>
        </div>
    }
}
