@using Pandacap.Clients
@model BlueskyCrosspostViewModel

@{
    ViewBag.Title = "Post to Bluesky";
}

<h1>Post to Bluesky</h1>

<hr />

<form method="post">
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 mb-3">
                <div class="form-group">
                    <label asp-for="TextContent" class="form-label">Content</label>
                    <textarea asp-for="TextContent" class="form-control" rows="8"></textarea>
                </div>
            </div>
            <div class="col col-lg-6 mb-3">
                @if (Model.Post != null)
                {
                    foreach (var image in Model.Post.Images)
                    {
                        <img src="/Blobs/UserPosts/@Model.Post.Id/@image.Raster.Id"
                             alt="@image.AltText"
                             title="@image.AltText"
                             style="width: 100%; max-width: 640px; max-height: 480px; object-fit: contain" />
                    }
                }
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Post to Bluesky</button>
</form>
