<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="SetAccount">
            <div class="form-floating mb-3">
                <input id="pds" name="pds" class="form-control" value="@(ViewBag.PDS ?? "bsky.social")" />
                <label for="pds" class="form-label">PDS</label>
            </div>
            <div class="form-floating mb-3">
                <input id="did" name="did" class="form-control" value="@ViewBag.DID" />
                <label for="did" class="form-label">DID / Handle / Identifier</label>
            </div>
            <div class="form-floating mb-3">
                <input id="password" name="password" class="form-control" type="password" />
                <label for="password" class="form-label">Password</label>
            </div>
            <button type="submit" class="btn btn-primary">Connect</button>
        </form>
        <hr />
        <form method="post" asp-action="RemoveAccount">
            <button type="submit" class="btn btn-danger">Remove</button>
        </form>
    </div>
</div>