@using Pandacap.Data
@using Pandacap.HighLevel
@using Pandacap.Models
@model BlueskyFollowModel

<p>
    <a href="https://bsky.app/profile/@Model.DID" target="_blank">@Model.DID</a>
</p>

<form asp-action="UpdateFollow" class="mt-3">
    <input type="hidden" name="did" value="@Model.DID" />
    <div class="mb-3 form-check">
        <input type="checkbox"
               class="form-check-input"
               asp-for="ExcludeImageShares" />
        <label class="form-check-label"
               asp-for="ExcludeImageShares"></label>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox"
               class="form-check-input"
               asp-for="ExcludeTextShares" />
        <label class="form-check-label"
               asp-for="ExcludeTextShares"></label>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox"
               class="form-check-input"
               asp-for="ExcludeQuotePosts" />
        <label class="form-check-label"
               asp-for="ExcludeQuotePosts"></label>
    </div>
    <hr />
    <button type="submit" class="btn btn-outline-primary">Save changes</button>
</form>
