@model ListViewModel

<details>
    <summary>Manage</summary>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Author</th>
                <th scope="col">Text</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items.Current)
            {
                <tr>
                    <td>@item.Username</td>
                    <td>@item.DisplayTitle</td>
                    <td>
                        <form asp-action="Hide" onsubmit="return confirm('Are you sure you want to hide this post from Favorites?">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-sm btn-danger">
                                Hide
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</details>
