@model IEnumerable<BridgyFedBotAccountMessageModel>

<h1>Bridgy Fed</h1>

<h2>
    Bot Account Message History
</h2>

<form asp-action="SendDirectMessage">
    <div class="row mb-3">
        <div class="col-md-9">
            <label for="message" class="form-label">
                Text content of direct message
            </label>
            <input type="text" class="form-control" id="message" name="message" />
        </div>
        <div class="col-md-3 mt-auto">
            <button type="submit" class="btn btn-primary">
                Send
            </button>
        </div>
    </div>
</form>

@foreach (var message in Model)
{
    <div class="@(message.Incoming ? "text-left" : "text-right")">
        <div class="card" style="display: inline-block; max-width: 400px">
            <div class="card-header">
                @message.Timestamp
            </div>
            <div class="card-body">
                <pre style="white-space: pre-wrap">@message.Content</pre>
            </div>
        </div>
    </div>
}
