html {
    width: 100%;
    height: 100%;

    .sr-only {
        position: fixed;
        top: -1000px;
        left: -1000px;
        width: 1px;
        height: 1px;
    }

    body, main, button {
        background-color: black;
        color: white;
    }

    main:fullscreen {
        background-color: black;
        color: white;
    }

    a {
        color: dodgerblue;

        &:visited {
            color: magenta;
        }

        &:active {
            color: red;
        }
    }

    .adv:not(:focus-within) {
        position: absolute;
        top: -100px;
        left: -100px;
        width: 0;
        height: 0;
        overflow: hidden;
    }

    button, a.button {
        appearance: none;
        border: 0;
        cursor: pointer;
        font: inherit;
        margin: 0;
        padding: 4px;

        &:focus, &:hover {
            background-color: dodgerblue;
            color: white;
            outline: 0;

            @media (forced-colors: active) {
                background-color: Highlight;
                color: HighlightText;
                forced-color-adjust: none;
            }
        }
    }

    body {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        font-family: sans-serif;

        #center-row {
            flex: 1 0 100px !important;
            display: flex;
            flex-direction: column;

            @media (min-width: 720px) {
                flex-direction: row;
            }

            main {
                flex: 1 0 100px;
                display: flex;
                flex-direction: column;

                #video-box-parent {
                    flex: 1 1 100px;
                    position: relative;

                    #video-parent {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;

                        & > video, & > audio {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            max-width: initial;
                        }
                    }
                }

                .controlgroup {
                    flex: 0 0 auto;
                    display: flex;
                    flex-direction: column;
                }

                .controls {
                    flex: 0 0 32px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    &:empty {
                        flex-basis: 0;
                    }

                    .spacer {
                        flex: 1 1 auto;
                    }

                    label {
                        flex: 0 0 auto;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        padding: 0 8px;
                        justify-content: center;
                    }

                    .line-separator {
                        width: auto;
                    }

                    a.button, button {
                        flex: 0 0 40px;

                        .material-icons, .material-symbols-outlined {
                            font-size: 40px;
                            vertical-align: bottom;
                        }
                    }

                    input[type=range] {
                        width: 44px;
                        height: 44px;
                        flex: 1 1 auto;
                        padding: 0;
                        margin: 0 8px;
                    }

                    input[type=range]#volume {
                        max-width: 240px;
                    }

                    .status {
                        font-size: 20px;
                        line-height: 32px;
                        padding: 0 8px;
                        vertical-align: middle;

                        &.wide {
                            flex: 1 1 0px;
                        }
                    }
                }
            }
        }
    }
}
