html {
    body {
        text-align: center;
    }

    button {
        padding: 0.5em;
        margin: 1em 0.5em;

        &#play-button {
            font-size: 125%;
        }

        .material-icons, .material-symbols-outlined {
            font-size: inherit;
        }
    }

    main:fullscreen {
        background-color: Window;
        color: WindowText;
    }

    video, audio {
        width: 600px;
        max-width: calc(100vw - 40px);
    }

    .controls {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .line-separator {
            width: 100%;
        }

        button {
            flex: 0 0 auto;
        }
    }
}
