<h1>
    About
</h1>

<p>
    Pandacap is a personal art gallery and feed reader, built on ASP.NET Core and Azure.
</p>

<p>
    Pandacap is a single-user application. Each Pandacap instance hosts:
</p>

<ol>
    <li>
        A public art gallery of the user's posts (split between image posts
        on one hand, and text posts - journals and status updates - on the
        other), imported manually from DeviantArt
    </li>
    <li>
        An unlisted, but public, set of ActivityPub replies and mentions
        created by the user from within Pandacap
    </li>
    <li>
        A private "inbox" of posts created or shared by users who the main
        user follows, accessible only to the main user after logging in (split
        between image posts, text posts, shares, and podcasts)
    </li>
</ol>

<p>
    The instance owner logs in with their Microsoft account (access is gated
    through Entra, by applying limits to the app registration they create in
    the Azure portal during the deployment process - see the README in the
    source control repository for more detail).
</p>

<h1>
    Uploads
</h1>

<p>
    After logging in, the Pandacap user can upload images to Azure Storage.
    These public, unattached images are called <strong>uploads</strong> and
    are listed on the "view uploads" page that the logged-in user can access.
</p>

<h1>
    Posts
</h1>

<p>
    After logging in, the Pandacap user can create, crosspost, detach, or
    delete posts, including artwork posts, journal entries, or status updates:
</p>

<ul>
    <li>
        <strong>Artwork posts</strong> have a title, body (description), and exactly one image (PNG or JPEG).
    </li>
    <li>
        <strong>Journal entries</strong> have a title and body.
    </li>
    <li>
        <strong>Status updates</strong> have a body and (optionally) an image (PNG or JPEG).
    </li>
</ul>

<p>
    All post types can have any number of tags, and images can have alt text.
    Posts with an image are created by creating an upload, then converting it
    into an attached image.
</p>

<p>
    Posts with more than one image are supported by Pandacap's data model, but
    not by all crosspost targets, and there is currently no UI for creating
    such posts.
</p>

<p>
    Posts in Pandacap are automatically shared via Atom / RSS and ActivityPub,
    but all crossposts (to DeviantArt, Bluesky, and Weasyl) must be initiated
    manually.
</p>

<h1>
    Connections
</h1>

<h2>
    DeviantArt
</h2>

<p>
    Once the user logs in with their Microsoft account, they can attach their
    DeviantArt account from ASP.NET Core Identity's "external logins" page.
    This allows Pandacap to connect to DeviantArt and also allows the user to
    log in with their DeviantArt account (in lieu of their Microsoft account)
    in the future.
</p>

<p>
    The user's DeviantArt follows are a source of posts for the Pandacap
    private inbox; these are populated periodically (on a timer).
</p>

<p class="small text-muted">
    Polling for journals and status updates is accomplished by checking the
    "last visited" timestamp of each user in the DeviantArt user's "friends"
    list, and checking profile posts by users who have visited DeviantArt since
    the last Pandacap inbox refresh.
</p>

<p>
    Pandacap posts can also be individually crossposted to DeviantArt from the
    Pandacap "view post" page.
</p>

<h2>
    ActivityPub
</h2>

<p>
    Pandacap acts as an ActivityPub S2S server, hosting a single actor. This
    allows Mastodon and Pixelfed users to follow the Pandacap user and see
    image and text posts in their inbox.
</p>

<p class="small text-muted">
    Journal entries will be federated using the <code>Article</code> type;
    artwork posts and status updates will use <code>Note</code>.
</p>

<p>
    It also allows the Pandacap user to follow ActivityPub actors; image posts,
    text posts, and shares from these users are added to the appropriate
    section of the Pandacap inbox.
</p>

<p class="small text-muted">
    Shares are disabled by default for followed ActivityPub actors, but can be
    enabled on an actor-by-actor basis. Shares will appear in the inbox under
    the name of the user who shared the post, not the original poster's name.
</p>

<p class="small text-muted">
    Note that Pandacap does not support the <tt>@@user@@domain</tt> syntax for
    actors that is used by most ActivityPub servers. Raw actor IDs (URLs) must
    be used directly.
</p>

<p>
    In addition, Pandacap allows the logged-in user to create "addressed
    posts", either by posting to a Lemmy community, or by replying to another
    ActivityPub post. All such posts are text only (no title or attachments)
    and are public but unlisted.
</p>

<p>
    Likes, shares, and replies from other users are shown on the Notifications
    page.
</p>

<p>
    The Pandacap user can add ActivityPub posts to a public "Favorites" page,
    which is treated as a <code>Like</code> in ActivityPub.
</p>

<h2>
    Atom/RSS
</h2>

<p>
    The Pandacap user can add RSS and Atom feeds to their follow list. Pandacap
    will check each feed periodically, and new posts in these feeds will be
    added to the appropriate section of the Pandacap inbox.
</p>

<p>
    Podcast feeds (where items have an enclosure of <code>audio/mpeg</code>)
    will appear with a "download" button that downloads the .mp3 file.
</p>

<p class="small text-muted">
    Pandacap also provides a "split" button, which splits the podcast episode
    into five-minute .wma chunks collected within a .zip file. This allows you
    to burn the chunks as individual tracks to a CD with gapless playback.
</p>

<h2>
    Bluesky
</h2>

<p>
    Pandacap implements a small atproto client. If the Pandacap user attaches
    a Bluesky account, posts from the account's home timeline (e.g. posts from
    users they follow) will be added to the Pandacap inbox.
</p>

<p class="small text-muted">
    Reposts are included in the Pandacap inbox in the "Shares" section, under
    the name of the sharing user.
</p>

<p>
    Pandacap posts can also be individually crossposted to Bluesky / atproto
    from the Pandacap "view post" page.
</p>

<h2>
    Weasyl
</h2>

<p>
    If the Pandacap user attaches a Weasyl API key, new submissions from users
    they follow on Weasyl will be added to the Pandacap inbox.
</p>

<p>
    Pandacap posts can also be individually crossposted to Weasyl from the
    Pandacap "view post" page.
</p>

<p class="small text-muted">
    Status updates will be created as journal entries.
</p>
