<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Setup">
            <div class="form-floating mb-3">
                <input id="username" name="username" class="form-control" value="@ViewBag.Username" />
                <label for="username" class="form-label">Username</label>
            </div>
            <button type="submit" class="btn btn-primary">Connect</button>
        </form>
        <hr />
        <form method="post" asp-action="Reset">
            <button type="submit" class="btn btn-danger">Remove</button>
        </form>
    </div>
</div>