<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Connect">
            <div class="form-floating mb-3">
                <input id="apiKey" name="apiKey" class="form-control" type="password" />
                <label for="apiKey" class="form-label">API key</label>
            </div>
            <button type="submit" class="btn btn-primary">Connect</button>
        </form>
    </div>
</div>
