.navbar-dark {
    background-color: #3f4873;
    color: #e5e5e5;
    border-color: #232840 !important;
}

.card {
    background: rgba(128, 128, 128, 0.05);
}

.post-body p {
    margin-bottom: 0;
}

.comment {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.comment .comment {
    border-left: 0.125rem solid lightgray;
    padding-left: 1.5rem;
}

.comment .user {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.comment p {
    margin: 0;
}

.comment .actions {
    display: none;
}

.comment .actions summary {
    opacity: 0.5;
}

.comment .actions-array {
    margin-top: 0.5em;
}

img.feed-image {
    height: 200px;
}

@supports (object-fit: contain) {
    img.feed-image {
        width: 100%;
        object-fit: contain;
    }
}

.social-block {
    color: var(--bs-secondary-color);
    display: inline-block;
    font-size: 0.875em;
    line-height: calc(var(--bs-body-line-height)/0.875);
    margin: 0 1em 1em 0;
    vertical-align: top;
}

    .social-block a {
        text-decoration: none;
    }

.social-icon-inline {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.lemmy-banner img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}
